{% extends 'base.html' %}
{% block content %}
    <section>
        <div id="experience">
            <h3>Mon expérience</h3>
            <ul>
                <li><strong>2022 à Aujourd'hui</strong> : <p>Formation<br/></p></li>
                <li><strong>2020 à 2022</strong> : <p>Agent d'Entretien Des Espaces Verts<br/>APFE (ACI)<br/>80290 Poix-De-Picardie</p></li>
                <li><strong>2018 à 2020</strong> : <p>Jardinier Paysagiste<br/>80290 Poix-De-Picardie</p></li>
                <li><strong>2017 à 2018</strong> : <p>Employé Commercial Confirmé<br/>Géant Casino<br/>91240 Saint-Michel-sur-Orge<p></li>
                <li><strong>2015 à 2016</strong> : <p>Equipier Maître Chien<br/>Armée de l'Air<br/>78140 Vélizy-Villacoublay</p></li>
                
                
            </ul>
        </div>
        <aside>
            <h3>Compétences</h3>
            <ul>
                <li>HTML5/CSS3(Sass)/JS</li>
                <li>Python<br/>(Pandas,Numpy,Matplotlib,Seaborn,Django)</li>
                <li>SQL</li>
                <li>Git/GitHub</li>
                <li>DDD/UML</li>
                <li>CyberSécurité (Nmap,Wireshark,Nikto,Nessus,Burp)</li>
            </ul>
        <aside>
        <div id="secondaire">
            <h3>Langues</h3>
            <ul>
                <li>Français - Langue maternelle</li>
                <li>Anglais  - Intermédiaire (B1)</li>
                <li>Espagnol - Débutant</li>
            </ul>
            <h3>Permis</h3>
            <ul>
                <li>B - Véhicule léger</li>
                <li>A - Moto</li>
            </ul>
        </div>
        <div id = "ma_formation">
            <h3>Ma formation</h3>
            <p>
                Passionné depuis toujours par les conclusions que peuvent amener l'analyse de données, je cherche actuellement à me reconvertir dans ce domaine.</br>Autodidacte et animé par la passion du développement informatique, j'ai pu acquérir quelques notions de programmations en : Python, JS, HTML,CSS.</br>Ainsi que l'utilisation de divers Framework(Pandas,Numpy,Seaborn,Django,Sass)
            </p>
        </div>
    </section>       
{% endblock content %}