#page_navi
{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
    a {
        color: $colour-black;
        &:hover
        {
        color: $colour-accent;
        }
    }   
}